*{
margin: 0;
padding: 0;
}
#iconMain{
    user-select: none;
    width: 100%;
    height: 100%;
    background-color: var(--app-color-background);
border: 1px solid var(--app-color-accent);
}
#iconLabel{
    word-break: break-all;
font-size: .75em;
font-weight:bolder; 
}
#iconLabel, #bigLetter{
    color: var(--app-color-text);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}
